body {
  background-image: url('https://images.pexels.com/photos/164005/pexels-photo-164005.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}
#topbar {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  font-size: auto;
  
}
#topbar h1{
  font-size: 10vw;
  color: #156083c7;
}
#topbar h2 {
  font-size: 6vw;
}
.bigbox {
  background-color: rgb(2, 0, 0);
  opacity: 60%;
}
img#image1 {
  position: absolute;
  right: auto;
  left: 45%;
  top: 70%;
}
i {
  border: solid rgb(251, 251, 251);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  padding: 17px;
  margin: 20px;
  top: 50%;
  margin-right: 40px;
  margin-bottom: 30px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  padding: 17px;
  margin: 25px;
  margin-bottom:30px;
  top: 50%;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  padding: 20px;
  
  margin: 25px;
  top: 50%;
  margin-top: 37px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  padding: 20px;
  margin:25px;
  top: 50%;
  margin-bottom: 37px;
}
.arrows {
  position:fixed;
  margin: 0%;
  margin-top: 344px;
  padding: 25px;
  background-color:rgb(0, 0, 0);
  width: 500px;
  text-align: center;
}
.preview {
  width: 100%;
  height: 40%;
  background-color:whitesmoke;
  
  
}
#image {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 10%; /* Full width (cover the whole page) */
  height: 10%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  z-index: 5; /* Specify a stack order in case you're using a different order for other elements */
}
#vid {
}
video {
  position:fixed;
  autoplay: true;
  margin-top: -30px;
}
.icons {
  text-align: center;
  padding: 30px;
}
.icons image1{
  margin-right: 0px;
  background-color:skyblue;
  border-radius: 5px;
}
button {
  position: absolute;
  left: 140%;
  top: 175%;
  height: 10%;
  width: 20%;
  border-radius: 50px;
  background: #666666a3;
  color: #000;
  font-family: -webkit-body;
  font-size: large;
}



#container {
  position:fixed;
	margin: 0px auto;
	width: 500px;
	height: 375px;
	/* border: 10px #333 solid; */
}
#videoElement {
  position:fixed;
	width: 500px;
	height: 375px;
	background-color: #666;
  z-index:2;
}
img {
  height: 110px;
  position: absolute;
  left: 1000%;
  top: 400%;
}
video#videoElement {
    position: absolute;
    left: 100%;
    top: 40%;
}

.arrows {
    position: absolute;
    left: 50%;
    top: 50%;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
}

.arrows.noselect {
  position: absolute;
  width: 90%;
  left: 100%;
  top: 40%;
}